@use "sass:math";
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;600;700&display=swap');

/*
---------------------
DEFAULTS
---------------------
*/

$primary-color: #4C7BF3;
$secondary-color-1: #C2D3FF;
$secondary-color-2: #FF5263;
$neutral-color-1: #969696;
$neutral-color-2: #15202A;
$background-color: #F2F2F2;
$placeholder-color: #B8C7ED;
$form-light: #fff;
$default-font: 'Libre Franklin', sans-serif;
$rem-base: 16px;


//Function to convert values to rem.
@function strip-unit($num) {
    @return $num / ($num * 0 + 1);
}

@function convert-to-rem($value, $base-value: $rem-base)  {
    $value: strip-unit($value) / strip-unit($base-value) * 1rem;
    @if ($value == 0rem) { 
        $value: 0;
     } // Turn 0rem into 0
    @return $value;
}

@function rem-calc($values, $base-value: $rem-base) {
    $max: length($values);
    @if $max == 1 { 
        @return convert-to-rem(nth($values, 1), $base-value); 
    }
    $remValues: ();
    @for $i from 1 through $max {
        $remValues: append($remValues, convert-to-rem(nth($values, $i), $base-value));
    }
    @return $remValues;
}

@mixin widhei($width, $height) {
    width: rem-calc($width);
    height: rem-calc($height);
}

@mixin fontsizeheight($font-size, $line-height){
    font-size: rem-calc($font-size);
    line-height: rem-calc($line-height);
}

* {
    margin: 0;
    padding: 0;
}

html, body {
    box-sizing: border-box;
    font-family: $default-font;
    font-weight: 300;
    text-align: center;
    background-color: $background-color;
}

.center-flex {
    display: flex;
    flex-direction: column;
    align-items: center;    
    justify-content: center;
}

/*
---------------------
MOBILE COMPONENT
---------------------
*/

.container {
    @extend .center-flex;
    height: 100vh;
    .launch-component {
        @extend .center-flex;
        .ping-logo {
            order:1;
        }
        .launch-info {
            order: 2;
            padding: rem-calc(32px 0 72px 0);
            h1, h2 {
                font-weight: 300;
            }
            h1 {
                @include fontsizeheight(22, 32);
                color: $neutral-color-1;
            }
            .bold-soon {
                @extend h1;
                color: $neutral-color-2;
                font-weight: 700;
            }
            h2 {
                @include fontsizeheight(12, 15);
                color: $neutral-color-2;
                padding: rem-calc(15px 0 32px 0);
            }
            .email-form {
                @extend .center-flex;
                .subscribe-input, .subscribe-btn {
                    height: rem-calc(40px);
                    border-radius: 28px;
                    @include fontsizeheight(12, 20);
                }
                .subscribe-input {
                    border: 1px solid $secondary-color-1;
                    width: rem-calc(281px);
                    background-color: $form-light;
                }
                .subscribe-input::placeholder {
                    color: $placeholder-color;
                    padding: rem-calc(10px 32px);
                }
                .subscribe-btn {
                    cursor: pointer;
                    width: rem-calc(282px);
                    border-style: none;
                    background-color: $primary-color;
                    margin-top: rem-calc(10px);
                    color: $form-light;
                    font-weight: 600;
                    box-shadow: 0px 5px 10px 2px rgba(76, 123, 243, 0.230414);
                }

            }
        }
        
        .stat-graphic {
            @include widhei(320, 192);
            order: 3;
        }
    }
}

.footer-info {
    padding-top: rem-calc(120px);
    .social-media-icons {
        padding-top: rem-calc(120);
    }
    .middle {
        padding: rem-calc(0 11.71px);
    }
    .copyright {
        padding: rem-calc(27px 0 10px 0);
        @include fontsizeheight(10, 12);
        color: $neutral-color-1;
    }
    .attribution {
        font-size: rem-calc(10px);
        a {
            color: $primary-color;
        }
    }
}

/*
---------------------
DESKTOP COMPONENT
---------------------
*/

@media (min-width: 1200px) {
    .container .launch-component .ping-logo {
        @include widhei(90, 39);
    }
    .container .launch-component .launch-info {
        h1 {
            @include fontsizeheight(48, 60);
        }
        h2 {
            @include fontsizeheight(20, 24);
        }
        .ping-logo {
            content: ('images/logo.desktop.svg');
        }
        .email-form {
            flex-direction: row;
            .subscribe-input {
                width: rem-calc(421);
            }
            .subscribe-btn {
                margin-left: 1rem;
                width: rem-calc(200);
                margin-top: 0;
            }
        }
    }
    .container .launch-component .stat-graphic {
        @include widhei(640, 383);
    }

    .social-media-icons {
        padding-top: rem-calc(72);
    }
}